.navbar-personalizado {
	background: #9C002F !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* Standard syntax (must be last) */
}

.nav, .nav>* {
	background-color: none !important;
}

li.dropdown>a {
	color: white !important;
	text-shadow: none !important;
	text-decoration: none !important;
}

li.dropdown:hover {
	background: #F5DEB3 !important;
}

.nav .open>a {
	background: #F5DEB3 !important;
}

.nav .dropdown-menu {
	background: white !important;
}

.dropdown-menu {
	border-radius: 0 px !important;
}
/*
.navbar-collapse.in>* {
	background-color: white !important;
	color: black !important;
}
.navbar-collapse.collapse>* {
	background-color: white !important;
	color: black !important;
}

.navbar-collapse.collapsing>* {
	background-color: white !important;
	color: black !important;
}*/