.navbar-personalizado {
	background: #9C002F !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#F5DEB3, #FFFFFF) !important;
	/* Standard syntax (must be last) */
}

.nav, .nav>* {
	background-color: none !important;
}

li.dropdown>a {
	color: white !important;
	text-shadow: none !important;
	text-decoration: none !important;
}

li.dropdown:hover {
	background: #F5DEB3 !important;
}

.nav .open>a {
	background: #F5DEB3 !important;
}

.nav .dropdown-menu {
	background: white !important;
}

.dropdown-menu {
	border-radius: 0 px !important;
}
/*
.navbar-collapse.in>* {
	background-color: white !important;
	color: black !important;
}
.navbar-collapse.collapse>* {
	background-color: white !important;
	color: black !important;
}

.navbar-collapse.collapsing>* {
	background-color: white !important;
	color: black !important;
}*/
.navbar-sgps {
	background: #2f3334 !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#2f3334, #2f3334) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2f3334, #2f3334) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2f3334, #2f3334) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#2f3334, #2f3334) !important;
	/* Standard syntax (must be last) */
}

/* Color para las opciones del menu en el primer nivel */
div.sidebar-nav.navbar-collapse > ul.nav > li.dropdown > a{
	background: #9C002F !important;
}

/* Color para las opciones del menu en el segundo nivel */
ul.nav.nav-second-level > li > a{
	background: #b74a4a !important;
}

/* Color para las opciones del menu en el tercer nivel */
ul.nav.nav-third-level > li > a{
	background: #f8f8f8 !important;
	color: black !important;
	text-shadow: none !important;
	text-decoration: none !important;
}

li.dropdown>a {
	color: white !important;
	text-shadow: none !important;
	text-decoration: none !important;
}

.nav .open>a {
	background: #9C002F !important;
}

/* Color del hover para las opciones del menu en el primer nivel */
div.sidebar-nav.navbar-collapse > ul.nav > li.dropdown > a:hover{
	background: #780023 !important;
}

/* Color del hover para las opciones del menu en el segundo nivel */
ul.nav.nav-second-level > li > a:hover{
	background: #780023 !important;
}

/* Color del hover para las opciones del menu en el tercer nivel */
ul.nav.nav-third-level > li > a:hover{
	background: #780023 !important;
	color: white !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	background: #9C002F !important;
}

.nav .dropdown-menu {
	background: white !important;
}

.dropdown-menu {
	border-radius: 0 px !important;
}

.navbar-toggle {
	margin-top: 0px;
	margin-bottom: 0px;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#page-wrapper {
	padding: 0 15px;
	height: auto !important;
	min-height: 100% !important;
	background-color: white;
}